################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/.vs/VSTS.Robocopy/v14/.suo
/VSTS.Robocopy.sln
