################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSTS.Robocopy/v14/.suo
*.vsix
/.vs/VSTS.Robocopy/v15/Server/sqlite3
