################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/.vs/VSTS.Robocopy/v14/.suo
/VSTS.Robocopy.sln
/Robocopy/Jungerius-IT.jungit-robocopy-1.0.5.vsix
*.vsix
